    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Pieter-Jan Pauwels</h2>
              <br/>
                <p>Community coordinator and project lead at <a href="http://www.openknowledge.be/">Open Knowledge Belgium</a> by day. Open innovation enthusiast, code tinkerer and volunteer of <a href="http://www.vlcm.be/">VLCM</a>, <a href="http://www.mediaraven.be/">Mediaraven</a> and <a href="http://www.poppunt.be/">Poppunt</a> by night. Oh, and a dad 24/7.</p>
                <p>For the past two year I've been setting up Open Knowledge projects to create more awareness around the subject, stimulate new collaborations between working groups and ultimately to open up new knowledge and create more transparency in our society.</p>
              <br/>
              </div>
        </div>
    </section>
